# Server Configuration
PORT=5000
NODE_ENV=development

# Firebase Project Configuration
FIREBASE_PROJECT_ID=tournex-74d9f
FIREBASE_API_KEY=AIzaSyDy-n3gelM61tw5sjied_sHQa-xVDPGlx8

# Firebase Admin Service Account Credentials
# Path to your service account JSON file, relative to project root or absolute
# If not specified, Admin SDK will try to load via Application Default Credentials (ADC)
FIREBASE_SERVICE_ACCOUNT_KEY=./config/firebase-service-account.json
